@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: black;
  color: white;
  display: inline;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(214, 27, 27);
}

.list {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-width: 550px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.list li {
  float: left;
  margin: 10px 30px 10px 50px;
  padding: 10px;
  flex: 1;
}

.list li a {
  text-decoration: none;
  color: white;
  height: 10px;
}
.list li a:hover {
  color: lightcoral;
}

a:hover {
  color: lightcoral;
}
